@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
/* font-family: 'Mr Dafoe', cursive; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}
body {
  min-height: 100vh;
  background: rgb(42, 0, 84);
  background: linear-gradient(
    0deg,
    rgba(177, 0, 142, 1) 0%,
    rgba(177, 0, 142, 1) 35%,
    rgba(42, 0, 84, 1) 100%
  );
  overflow-x: hidden;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.link a {
  color: #6ef2c3;
  text-decoration: none;
}

/* body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 150000;
  top: 0;
  background-size: 4px;
  pointer-events: none;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4) 1px,
    transparent 1px,
    transparent 2px
  );
  opacity: 0.4;
} */
.header__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.musicPlayer__image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 90px;
  cursor: pointer;
  z-index: 1000000;
  animation: tape 3s infinite;
}
@keyframes tape {
  0% {
    top: 20px;
    left: 20px;
  }
  25% {
    top: 20px;
    left: 40px;
  }
  74% {
    top: 20px;
    left: 20px;
  }
  75% {
    top: 30px;
    left: 20px;
  }
  100% {
    top: 20px;
    left: 20px;
  }
}
.header__parallax--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header--title {
  position: absolute;
  top: 40%;
  left: 0;
  color: white;
  text-align: center;
  width: 100%;
  z-index: 100;
}
.header__parallax--title {
  font-size: 50px;
  color: white;
  letter-spacing: 4vw;
  margin: 0 auto;
}
.headerArrow__wrapper {
  transform: rotateZ(90deg);
  bottom: 200px;
  position: absolute;
  z-index: 1100;
  cursor: pointer;
}
.headerArrow--img {
  width: 30px;
}

.stars {
  z-index: 100;
}
.sun {
  mix-blend-mode: screen;
  z-index: 101;
}
.header__parallax--title {
  z-index: 102;
}
.backMountains {
  z-index: 103;
}
.grid {
  z-index: 104;
}
.mountains {
  z-index: 105;
}

.menu__wrapper {
  background-color: #15003d;
  width: 100%;
  height: 50vh;
  display: grid;
  place-items: center;
}
.menu__content {
  text-align: center;
}
.menu--title {
  font-family: "Mr Dafoe", cursive;
  font-weight: 100;
  font-size: 74px;
  padding: 0 100px;
  background: linear-gradient(to bottom, #b1008e 0%, rgba(42, 0, 84, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: azure; */
}
.navigation {
  margin-top: 60px;
}
.navigation p {
  padding: 15px 0;
  margin: 5px 0;
  color: white;
  letter-spacing: 10px;
  transition: 0.3s;
}
.navigation p:hover {
  color: #b1008e;
  letter-spacing: 13px;
}

.aboutMe__wrapper {
  width: 100%;
  height: 100vh;
  background-color: #15003d;
  display: grid;
  place-items: center;
}
.aboutMe__content {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.abutMe__image {
  display: grid;
  place-items: center;
}

.aboutMe__text {
  padding-left: 20px;
  font-size: 20px;
}
.aboutMe__text h1,
.section--title {
  background: linear-gradient(to bottom, #b1008e 0%, rgba(42, 0, 84, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutMe__text p {
  font-weight: 300;
  color: rgb(204, 204, 204);
}
.aboutMe__text span {
  color: #6ef2c3;
  font-weight: 500;
}
.commented {
  color: rgb(0, 87, 0);
  font-weight: 400;
}

.projects__wrapper {
  padding: 50px 0;
  display: grid;
  place-items: center;
  background-color: #15003d;
  width: 100%;
}
.section--title {
  padding: 50px 0;
}
.projects__content {
  width: 80%;
}
.projectBox {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.projectImage {
  width: 50%;
}
.projectText {
  width: 50%;
  padding-left: 20px;
}
.projectText h1 {
  color: #6ef2c3;
}
.projectText p {
  color: rgb(204, 204, 204);
  font-size: 16px;
}
.arrowRight {
  margin-top: 30px;
  cursor: pointer;
}

.contact__wrapper {
  display: grid;
  place-items: center;
  background-color: #15003d;
  height: 70vh;
  width: 100%;
}
.contact__content {
  color: white;
  padding: 50px 150px;
  border: 1px solid white;
  border-radius: 20px;
}
.contact__content h1 {
  background: linear-gradient(to bottom, #b1008e 0%, rgba(42, 0, 84, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px 0;
}
.contact__content p {
  padding: 20px 0;
}
.contact__content span {
  color: #6ef2c3;
}
.contact__content a {
  color: #6ef2c3;
  text-decoration: none;
}

.project__wrapper {
  background-color: #15003d;
}
.project__content {
  width: 90%;
  margin: 0 auto;
}
.goBack {
  padding: 70px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.goBack p {
  color: #6ef2c3;
  font-size: 24px;
}
.section {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project--image {
  width: 90%;
}
.project__texts {
  width: 100%;
}
.project__texts p {
  color: white;
}
.project__texts p span {
  color: #6ef2c3;
}
.project__texts--space {
  padding-top: 20px;
}
.projectLinkedTitle {
  display: flex;
  padding-bottom: 20px;
  background: linear-gradient(to bottom, #b1008e 0%, rgba(42, 0, 84, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projectLinkedTitle a {
  color: white;
  text-decoration: none;
}
.goBackImg {
  transform: rotateZ(180deg);
  width: 50px;
}
.maiaProject {
  width: 100%;
  height: 100vh;
  background-color: #15003d;
}
.weekendSplit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
}
.weekendProject__image {
  width: 90%;
}
.textAction h3 {
  background: linear-gradient(to bottom, #b1008e 0%, rgba(42, 0, 84, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  padding-bottom: 40px;
}

.textAction p {
  color: white;
}
.button {
  padding: 7px 20px;
  font-size: 18px;
  margin: 30px 30px 0 0;
  background: linear-gradient(to bottom, #b1008e 0%, rgba(42, 0, 84, 1) 100%);
  border: none;
}
.button a {
  text-decoration: none;
  color: white;
}
.disabled {
  padding: 7px 20px;
  font-size: 18px;
  margin: 30px 30px 0 0;
  background: rgb(68, 68, 68);
  border: none;
}

@media only screen and (max-width: 1200px) {
  .projectImage {
    width: 50%;
    height: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .projectBox {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #28164b;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
  }
  .projectBox:hover {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #28164b;
    background-color: #1d0057;
    padding: 20px;
    border-radius: 8px;
  }
  .projectText h1 {
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
  }
  .projectText {
    width: 90%;
    padding-left: 0px;
    text-align: left;
    margin: 0 auto;
  }
  .projectImage {
    width: 90%;
  }
  .arrowRight {
    text-align: center;
  }
  .aboutMe__content {
    display: block;
  }
  .aboutMe__text {
    font-size: 16px;
  }
  .aboutMe__text h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .section {
    grid-template-columns: 1fr;
  }
  .weekendSplit {
    grid-template-columns: 1fr;
    margin-top: 150px;
  }
  .textAction {
    text-align: center;
  }
}
