@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
}
body {
  background: rgb(42, 0, 84);
  background: linear-gradient(
    0deg,
    rgba(177, 0, 142, 1) 0%,
    rgba(177, 0, 142, 1) 35%,
    rgba(42, 0, 84, 1) 100%
  );
}
/* body::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 15000;
  top: 0;
  background-size: 4px;
  pointer-events: none;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4) 1px,
    transparent 1px,
    transparent 2px
  );
  opacity: 0.4;
} */
.header__wrapper {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.musicPlayer__image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 90px;
  cursor: pointer;
  z-index: 1000000;
}
.header__parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
}
.header__parallax--img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header--title {
  position: absolute;
  top: 30vw;
  text-align: center;
  width: 100%;
  z-index: 100;
}
.header__parallax--title {
  font-size: 50px;
  color: white;
  letter-spacing: 4vw;
  margin: 0 auto;
}
.stars {
  z-index: 100;
}
.sun {
  mix-blend-mode: screen;
  z-index: 101;
}
.header__parallax--title {
  z-index: 102;
}
.backMountains {
  z-index: 103;
}
.grid {
  z-index: 104;
}
.mountains {
  z-index: 105;
}

.menu__wrapper {
  background-color: aqua;
}
